/* 
    Index
    ----

    01. Imports
    02. Base / Reset
    03. Typography
    04. Global Elements
    05. Utility Classes 
    06. Layout: Header
    07. Layout: Banner
    08. Layout: Program Highlights
    09. Layout: About
    10. Layout: Services
    11. Layout: Classes
*/


/* 01. Imports */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* 02. Base / Reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
    color: #333;
    transition: .3s;
}
h1, h2, h3, h4, h5, h6 {
  text-transform: capitalize;
}
img{
    max-width: 100%;
    vertical-align: middle;
}

/* 03. Typography */
body{
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    color: #333;
}

/* 04. Global Elements */
.fix:before{
    content: "";
    clear: both;
    display: table;
}
.fix:after{
    content: "";
    clear: both;
    display: table;
}

/* 05. Utility Classes */
.f-left{
    float: left;
}
.f-right{
    float: right;
}
.pt-15{
    padding-top: 15px;
}
.pb-15{
    padding-bottom: 15px;
}
.pt-20{
    padding-top: 20px;
}
.pb-20{
    padding-bottom: 20px;
}
.pt-30{
    padding-top: 30px;
}
.pb-30{
    padding-bottom: 30px;
}
.pt-35{
    padding-top: 35px;
}
.pb-35{
    padding-bottom: 35px;
}
.pt-40{
    padding-top: 40px;
}
.pb-40{
    padding-bottom: 40px;
}
.pt-50{
    padding-top: 50px;
}
.pb-50{
    padding-bottom: 50px;
}
.pt-60{
    padding-top: 60px;
}
.pb-60{
    padding-bottom: 60px;
}
.pt-70{
    padding-top: 70px;
}
.pb-70{
    padding-bottom: 70px;
}
.pt-80{
    padding-top: 80px;
}
.pb-80{
    padding-bottom: 80px;
}
.btn-primary{
  background-color: #ff3636;
  color: #fff;
}
.btn-secondary{
  background: #fff;
	color: #ff3636;
	border: 1px solid #ff3636;
}
.btn-primary, .btn-secondary{
    padding: 10px 15px;
    display: inline-block;
    font-size: 17px;
    text-transform: capitalize;
    transition: .3s;
    font-weight: 600;
    border-radius: 5px;
    position: relative;
    z-index: 2;
}
.btn-primary::before, .btn-secondary::before {
  position: absolute;
  content: "";
  left: 0;
  height: 0;
  width: 100%;
  background: #4CC5AF;
	border-radius: 5px;
  visibility: hidden;
  transition: .3s;
  z-index: -2;
}
.btn-primary::before{
  top: 0;
  background: #4CC5AF;
}
.btn-secondary::before{
  bottom: 0;
  background: teal;
}
.btn-primary:hover:before, .btn-secondary:hover:before {
  visibility: visible;
  height: 100%;
}
.btn-primary:hover{
  color: #fff;
}
.btn-secondary:hover{
  border: 1px solid #4CC5AF;
  color: #fff;
}
.section-title {
  text-align: center;
}
.section-title h4 {
  font-size: 30px;
  text-align: center;
  font-weight: 600;
  position: relative;
  margin-bottom: 40px;
  padding-bottom: 40px;
}
.section-title h4::before {
  position: absolute;
  content: "";
  bottom: 0;
  left: 50%;
  width: 100px;
  height: 2px;
  background: #ff3636;
  transform: translateX(-50%);
}
.section-title h4::after {
	position: absolute;
	content: "";
	bottom: -8px;
	left: 50%;
	height: 10px;
	width: 10px;
	background: #ff3636;
	border-radius: 50%;
	transform: translateY(-50%);
}

.section-title p {
  width: 45%;
  margin: 0 auto 35px;
}
.container{
    width: 1170px;
    margin: 0 auto;
}

/* 06. Layout: Header  */
.header-top-area {
	background-color: #547670;
  padding: 8px 0;
}
.header-contacts {
  width: 960px;
}
.header-contacts li {
  display: inline-block;
  margin-right: 25px;
}
.header-contacts li:last-child,.header-social-links li:last-child, .logo ul li:last-child, .menu ul li:last-child {
  margin-right: 0;
}
.header-contacts li i {
	color: #fff;
	font-size: 14px;
	font-weight: 600;
	margin-right: 15px;
}
.header-contacts li span a {
  color: #fff;
  font-weight: 400;
  font-size: 14px;
}
.header-contacts li span {
	color: #fff;
	font-size: 14px;
}
.header-contacts li:hover i, .header-contacts li:hover span a, .header-social-links li a:hover, .logo ul li a:hover, .menu ul li a:hover, .classes-sidebar ul li a:hover{
  color: #ff3636;
}
.header-social-links {
  width: 210px;
  text-align: right;
}
.header-social-links li {
  display: inline-block;
  margin-right: 20px;
}
.header-social-links li a {
  color: #fff;
  font-size: 17px;
}
.header-social-links li a i {
	font-weight: 600;
  font-size: 14px;
}
.logo ul li {
  display: inline-block;
  margin-right: 10px;
}
.logo {
  width: 200px;
}
.logo ul li a {
  font-size: 20px;
  text-transform: capitalize;
  font-weight: 500;
}
.menu ul {
  width: 970px;
  text-align: right;
  margin-top: 9px;
}
.menu ul li {
  display: inline-block;
  margin-right: 25px;
}
.menu ul li a {
  font-size: 18px;
  text-transform: capitalize;
}

/* 07. Layout: Banner */
.banner-area {
  background-color: #FFFBF9;
}
.banner-img {
  width: 670px;
}
.banner-img img {
	margin-top: -65px;
}
.banner-content {
  width: 500px;
  margin-top: 40px;
}
.banner-content h1 {
  font-size: 35px;
  font-weight: 700;
}
.banner-content p {
  padding: 55px 0;
}
.banner-btn a:last-child {
	margin-left: 30px;
}

/* 08. Layout: Program Highlights */
.program-highlight {
	width: 370px;
	padding: 45px 60px 65px;
	margin-right: 30px;
	text-align: center;
	min-height: 340px;
}
.program-highlight:nth-child(odd) {
	border-radius: 0 0 50% 50%;
}
.program-highlight:nth-child(even){
	border-radius: 50% 50% 0 0;
}
.program-highlight:nth-child(1){
  background-color: #FFF0D9;
}
.program-highlight:nth-child(2){
  background-color: #FFD9D9;
}
.program-highlight:last-child{
  background-color: #D8E7FF;
  margin-right: 0;
}
.program-highlight i {
  width: 60px;
  height: 60px;
  line-height: 60px;
  background: #F6F8F5;
  text-align: center;
  color: teal;
  border-radius: 50%;
}
.program-highlight h4 {
  margin: 30px 0;
  font-size: 20px;
  font-weight: 500;
}

/* 09. Layout: About */
.about-area {
  background: #FFFBF9;
}
.about-content {
  width: 600px;
  margin-right: 30px;
}
.about-content h5 {
  font-size: 25px;
  text-transform: initial;
  font-weight: 600;
}
.about-content p {
  margin: 25px 0;
}
.about-content ul li {
  position: relative;
  margin-bottom: 25px;
  padding-left: 45px;
}
.about-content ul li:last-child {
  margin-bottom: 0;
}
.about-content ul li::before {
  position: absolute;
  content: "\f00c";
  font-family: "Font Awesome 5 free";
  font-weight: 600;
  color: #333;
  width: 30px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  background: #D8E7FF;
  left: 0;
  border-radius: 50%;
}
.about-img {
	width: 510px;
	position: relative;
	z-index: 22;
}
.about-img img {
  border-radius: 50% 0 0 0;
}
.about-img::before {
  position: absolute;
  content: "";
  top: -30px;
  left: -30px;
  width: 100%;
  height: 100%;
  border: 2px solid red;
  border-radius: 50% 0 0 0;
  z-index: -2;
}

/* 10. Layout: Services */
.service {
	width: 370px;
	margin-right: 30px;
	background: #FDFDFD;
	padding: 50px 30px;
	text-align: center;
	box-shadow: 1px 0px 5px rgba(0, 0, 0, 0.1);
	position: relative;
	min-height: 365px;
}
.service::before {
  position: absolute;
  content: "";
  top: 50%;
  left: 0;
  height: 50%;
  width: 2px;
  background: red;
  visibility: hidden;
  transition: .3s;
}
.service::after {
  position: absolute;
  content: "";
  top: 0;
  left: 50%;
  height: 2px;
  width: 50%;
  background: red;
  visibility: hidden;
  transition: .3s;
}
.service:hover::before{
  top: 0;
  visibility: visible;
}
.service:hover::after{
  left: 0;
  visibility: visible;
}
.service:last-child {
  margin-right: 0;
}
.service i {
	width: 80px;
	height: 80px;
	line-height: 80px;
	background: #D8E7FF;
	text-align: center;
	border-radius: 50%;
	color: #547670;
	font-size: 30px;
  font-weight: 600;
	position: absolute;
	content: "";
	top: -45px;
	left: 50%;
	transform: translateX(-50%);
	z-index: 22;
}
.service p {
  margin-bottom: 30px;
}
.service h4 {
  margin: 25px 0 30px;
  font-size: 22px;
  font-weight: 400;
}
.service a {
  font-size: 17px;
  text-transform: capitalize;
  display: inline-block;
  position: relative;
  padding-left: 25px;
  color: #ff3636;
}
.service a::before {
  position: absolute;
  content: "\f061";
  font-family: "Font Awesome 5 free";
  font-weight: 600;
  color: #ff3636;
  left: 0;
  transition: .3s;
}
.service a:hover, .service a:hover::before {
  color: #4CC5C1;
}
.service-btn {
	text-align: center;
}

/* 11. Layout: Classes */
.classes-area {
  background: #FFFBF9;
}
.classes-sidebar {
	width: 215px;
	margin-right: 30px;
	border-right: 1px solid #D8E7FF;
}
.classes-sidebar ul li {
  margin-bottom: 20px;
}
.classes-sidebar ul li:last-child {
  margin-bottom: 0;
}
.classes-sidebar ul li a {
  font-size: 16px;
  font-weight: 400;
  text-transform: capitalize;
  display: block;
  color: #1A1A1A;
}
.classes-content {
  width: 925px;
}
.class-item {
	width: 460px;
	margin-right: 30px;
	margin-top: 30px;
}
.class-item h5 {
	font-size: 25px;
	font-weight: 600;
	margin-bottom: 40px;
}
.classes-img {
  width: 410px;
  position: relative;
  z-index: 22;
}
.classes-img img{
  border-radius: 50% 50%  0 0;
}
.classes-img::before {
	position: absolute;
	content: "";
	top: -25px;
	left: -25px;
	width: 100%;
	height: 100%;
	border: 2px solid #ff3636;
	z-index: -2;
	border-radius: 50% 50% 0 0;
}